*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures
.externalNativeBuild
/.gradle/
/.idea/
/build/
/app/build/
/gradle/
/.gitignore
/build.gradle
/app/build.gradle
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
